<div class="vacancies-card-wrap">
  <mat-card class="mat-card">
    <mat-card-header class="mat-card-header">
      <mat-card-title class="mat-card-title">{{ vacancie.title }}</mat-card-title>
      <mat-card-subtitle class="mat-card-subtitle">{{ vacancie.address }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="mat-card-content">
      <p>
        <strong>Заробітня плата: </strong>{{ vacancie.salaryMin }} - {{ vacancie.salaryMax }}
        {{ vacancie.currency }}
      </p>
      <p><strong>Графік:</strong> 2/2, з 9:00 до 21:00</p>
      <p>
        <strong>Необхідний досвід:</strong> фарм. освіта, досвід від 1 року
      </p>
      <p>
        <strong>Обов'язки:</strong> {{vacancie.responsibilities}}
      </p>
    </mat-card-content>

    <!-- add more buttons for tg, viber, whatsapp -->
    <mat-card-footer class="mat-card-footer"> 
      <button class="btn-primary mat-card-button" mat-button (click)="openTelegram()"><img mat-image class="social-icon" src="images/telegram-icon.png" /> </button>
      <button class="btn-primary mat-card-button" mat-button><img mat-image class="social-icon" src="images/viber-icon.png" /> </button>
      <button class="btn-primary mat-card-button" mat-button><img mat-image class="social-icon" src="images/whatsapp-icon.png" /> </button>
    </mat-card-footer>
  </mat-card>
</div>
