<div class="vacancies-card-wrap">
  <mat-card class="mat-card">
    <mat-card-header class="mat-card-header">
      <mat-card-title class="mat-card-title">
        {{ vacancy.title }}
      </mat-card-title>
      <mat-card-subtitle class="mat-card-subtitle">
        {{ vacancy.region }}</mat-card-subtitle
      >
    </mat-card-header>

    <mat-card-content class="mat-card-content">
      <p>
        {{ vacancy.description }}
      </p>
      <p>
        <strong>Заробітня плата: </strong>{{ vacancy.salary }}
        {{ vacancy.currency }}
      </p>
      <p><strong>Графік:</strong> {{ vacancy.schedule }}</p>

      <section class="requirements">
        <mat-list class="card-mat-list">
          <div mat-subheader><strong>Вимоги:</strong></div>
          <mat-list-item
            class="card-mat-list-item"
            *ngFor="let req of vacancy.requirements"
          >
            <mat-icon matListItemIcon>check</mat-icon>
            <div matListItemLine>{{ req }}</div>
          </mat-list-item>
        </mat-list>
      </section>
      <section class="detailed-vacancy-info">
        <mat-list class="card-mat-list">
          <div mat-subheader><strong>Обов'язки:</strong></div>
          <mat-list-item
            class="card-mat-list-item"
            *ngFor="let resp of vacancy.responsibilities"
          >
            <mat-icon matListItemIcon>assignment</mat-icon>
            <div matListItemLine>{{ resp }}</div>
          </mat-list-item>
        </mat-list>
      </section>
    </mat-card-content>
    <mat-card-footer class="mat-card-footer">
      <div class="phone-number">
        <mat-icon>phone</mat-icon>
        <p>
          За детальною інформацією телефонуйте:
          <br><strong>+380 97 889 72 62</strong>
        </p>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
