# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Angular build output
/dist/
/out-tsc/
/tmp/
/coverage/

# Angular environment files (если нужно исключить приватные)
# !src/environments/environment*.ts

# IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Misc
/.angular/cache/
/.angular/cache/
/.angular/webpack/
/src/**/*.js
/src/**/*.js.map
