<div class="team-wrap">
  <div class="headline">
    <span class="main-text">Команда ТОВ ФК "Екофарм"</span>
    <span class="accent-text">Наша команда</span>
  </div>
  <p>
    Команда ТОВ "ФК "Екофарм" — це синергія досвіду, інноваційного мислення та
    відповідального підходу до фармацевтичної справи. Ми об’єднали фахівців, які
    розуміють важливість нових терапевтичних підходів, зокрема в застосуванні
    медичного канабісу, і працюють над створенням продуктів, що реально
    покращують якість життя пацієнтів.
  </p>
</div>
