<div class="team-wrap">
  <div class="content">
    <div class="headline">
      <span class="main-text">Команда ТОВ ФК "Екофарм"</span>
      <br class="mobile-br" />
      <span class="accent-text">Наша команда</span>
    </div>

    <section class="team-section">
      <p>
        <span class="font-weight-700">Команда ТОВ "ФК "Екофарм"</span> — це
        синергія досвіду, інноваційного мислення та відповідального підходу до
        фармацевтичної справи. Ми об’єднали фахівців, які розуміють важливість
        нових терапевтичних підходів, зокрема в застосуванні медичного канабісу,
        і працюють над створенням продуктів, що
        <span class="font-weight-700"
          >реально покращують якість життя пацієнтів.</span
        >
      </p>
    </section>

    <section class="team-section">
      <p>
        Люди, які працюють у ТОВ «ФК»Екофарм» — це згуртована команда
        професіоналів, об’єднаних спільною метою:
        <span class="font-weight-700"
          >зробити сучасну фармакотерапію доступною кожному пацієнту в
          Україні.</span
        >
        Завдяки поєднанню практичного досвіду та відданості інноваціям, наша
        команда щоденно працює над тим, щоб вивести галузь виробництва
        лікарських засобів в аптеках на новий рівень.
      </p>
    </section>

    <section class="team-section">
      <p>
        <span class="font-weight-700">Фармацевти та провізори</span> —
        виготовляють лікарські засоби відповідно до стандартів і призначень
        лікаря, забезпечуючи точність, безпеку та ефективність.
      </p>
    </section>

    <section class="team-section">
      <p>
        <span class="font-weight-700">Менеджери проєктів та розвитку</span> —
        координують відкриття аптек у нових регіонах, забезпечують відповідність
        ліцензійним вимогам і організовують логістичні процеси.
      </p>
    </section>

    <section class="team-section">
      <p>
        Ми віримо, що сильна команда — це основа стабільного й відповідального
        розвитку.
        <span class="font-weight-700"
          >Кожен співробітник «Екофарм» — це професіонал своєї справи.</span
        >
      </p>
    </section>
  </div>
</div>
