<div class="team-wrap">
  <div class="headline">
    <span class="main-text">Команда ТОВ ФК "Екофарм"</span>
    <span class="accent-text">Наша команда</span>
  </div>
  <p>
    <span class="font-weight-700">Команда ТОВ "ФК "Екофарм"</span> — це синергія
    досвіду, інноваційного мислення та відповідального підходу до фармацевтичної
    справи. Ми об’єднали фахівців, які розуміють важливість нових терапевтичних
    підходів, зокрема в застосуванні медичного канабісу, і працюють над
    створенням продуктів, що <span class="font-weight-700">реально покращують якість життя пацієнтів.</span>
  </p>
  <div class="team-list">
    <app-team-member-card
      class="width-20"
      [name]="'Рубан Антон Володимирович'"
      [role]="'Директор, засновник компанії'"
      [description]="tempDescription"
    ></app-team-member-card>
    <app-team-member-card
      class="width-20"
      [name]="'Рубан Антон Володимирович'"
      [role]="'Директор, засновник компанії'"
      [description]="tempDescription"
    ></app-team-member-card>
    <app-team-member-card
      class="width-20"
      [name]="'Рубан Антон Володимирович'"
      [role]="'Директор, засновник компанії'"
      [description]="tempDescription"
    ></app-team-member-card>
    
  </div>
</div>
