mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-card-wrap {
  // border: 3px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 20px;
  border: 5px solid #93c756;
  height: 100%;
  width: 100%;
}

.mat-card-image {
  height: 200px;
  width: 100%;
  border-radius: 10px;
  margin: 20px 10px 0px 10px;
  object-fit: cover;
}

.title {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  flex: 1;
}

.news-description {
  font-family: "Montserrat", Arial, sans-serif;
  color: #000000;
  text-align: left;
  margin: 0px 20px 20px 20px;
  font-size: 24px;
}

.mat-card-content {
  margin: 0 15px;
  flex: 5;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  flex: 2;
  margin-top: 20px;
  width: 100%;

  button {
    width: 80%;
    margin-bottom: 10px;
  }
}

@media (max-width: 1000px) {
  .mat-card-content {
    margin: 0px;
    padding: 0px;
  }

  .title {
    font-size: 14px;
  }

  .news-description {
    font-size: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 7; /* количество строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
