<div class="mat-card-wrap">
  <mat-card class="mat-card">
    <img
      mat-card-image
      src="https://media1.tenor.com/m/4f40v0du6PIAAAAC/weed-shades-on.gif"
    />
    <mat-card-header class="mat-card-header">
      <mat-card-title class="title"> TEST </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Sunlight filtered through the forest canopy, creating a dynamic
        interplay of light and shadow that influences local microclimates. This
        dappled illumination affects photosynthetic activity and regulates
        understory vegetation growth. Combined with ambient humidity and soil
        composition, these factors form a complex ecological system supporting
        biodiversity and nutrient cycling within temperate woodland
        environments.
      </p>
    </mat-card-content>
  </mat-card>
</div>
