<div class="mat-card-wrap">
  <mat-card class="mat-card">
    <img
      mat-card-image
      src="https://media1.tenor.com/m/4f40v0du6PIAAAAC/weed-shades-on.gif"
    />
    <mat-card-header class="mat-card-header">
      <mat-card-title class="title"><h2>{{title}}</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
      <p>
        {{description}}
      </p>
    </mat-card-content>
    <mat-card-footer class="footer">
      <button class="btn-primary">Детальніше</button>
    </mat-card-footer>
  </mat-card>
</div>
