<div class="team-member-card-wrap">
  <mat-card>
    <img mat-card-image src="images/zasnovnik_kompanii.jpg" />
    <mat-card-header class="card-header">
      <h2>{{ role }}</h2>
      <h2>{{ name }}</h2>
    </mat-card-header>

    <mat-card-content class="card-content" *ngIf="isOpened" [@toggleDescrtiption]>
      <p>{{ description }}</p>
    </mat-card-content>

    <mat-card-footer class="card-footer">
      <button class="btn-primary" mat-button (click)="descrtiptionClicked()">
        {{ isOpened ? "Згорнути" : "Детальніше" }}
      </button>
    </mat-card-footer>
  </mat-card>
</div>
