.news-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

news-card {

}



.header {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 100px;
  margin: 0px 0 20px 0;
  color: #93c756;
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 1;
}

.news-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.news-card {
  text-align: center;
  width: 370px;
  height: 700px;
}


@media (min-width: 1000px) and (max-width: 1400px){
  .news-list {
      grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 1000px){
  .width-mobile-80 {
    width: 80% !important;
  }
  .news-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .header {
    font-size: 60px;
  }

}