.news-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

@media (max-width: 600px){
  .width-mobile-80 {
    width: 80% !important;
  }
  .news-list {
    align-items: center !important;
    flex-direction: column !important;
    gap: 0px;
  }

}

.news-wrap p {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 100px;
  margin: 0px 0 20px 0;
  color: #93c756;
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 1;
}

.news-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  justify-content: center;
  width: 100%;

  // border: 3px solid black;
}

.news-card {
  padding: 12px;
  text-align: center;
  width: 100%;
  height: 100%;
}


