<div class="news-wrap">
  <p>НОВИНИ</p>
  <div class="news-list">
    <app-news-card class="width-20 width-mobile-80 news-card"></app-news-card>
    <app-news-card
      class="width-20 width-mobile-80 news-card"
      title="Активний розвиток"
      [description]="tempText"
    ></app-news-card>
    <app-news-card class="width-20 width-mobile-80 news-card"></app-news-card>
    <app-news-card class="width-20 width-mobile-80 news-card"></app-news-card>
    <app-news-card class="width-20 width-mobile-80 news-card"></app-news-card>
  </div>
</div>
