<div class="app-wrap">
  <mat-sidenav-container class="sidenav-container" >
    <mat-sidenav
      #snav
      mode="over"
      class="mobile-sidenav"
      [opened]="false"
      (openedChange)="onSidenavToggle($event)"
    >
      <div class="sidenav-backdrop" (click)="snav.close()">
        <mat-nav-list class="sidenav-menu" (click)="snav.close()">
          <a
            *ngFor="let item of mobileNavItems"
            mat-list-item
            class="mobile-menu-link"
            [routerLink]="item.path"
            (click)="snav.close()"
            >{{ item.mobileLabel || item.label }}</a
          >
        </mat-nav-list>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="layout-wrapper">
        <div class="app-header">
          <app-ecofarm-header (menuToggle)="openSidenav()"></app-ecofarm-header>
        </div>

        <div class="app-content">
          <router-outlet></router-outlet>
        </div>

        <div class="app-footer">
          <app-ecofarm-footer></app-ecofarm-footer>
        </div>

        <div class="backdrop" *ngIf="isMobileMenuOpened" (click)="closeSidenav()"></div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
