<div class="app-wrap">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #snav
      mode="over"
      class="mobile-sidenav"
      [opened]="false"
      (openedChange)="onSidenavToggle($event)"
    >
      <div class="sidenav-backdrop">
        <mat-nav-list class="sidenav-menu">
          <a mat-list-item routerLink="/" (click)="snav.close()">Головна</a>
          <a mat-list-item routerLink="/about-us" (click)="snav.close()"
            >Про нас</a
          >
          <a mat-list-item routerLink="/products" (click)="snav.close()"
            >Продукти</a
          >
          <a mat-list-item routerLink="/team" (click)="snav.close()">Команда</a>
          <a mat-list-item routerLink="/news" (click)="snav.close()">Новини</a>
          <a mat-list-item routerLink="/licenses" (click)="snav.close()"
            >Ліцензії</a
          >
          <a mat-list-item routerLink="/contacts" (click)="snav.close()"
            >Контакти</a
          >
        </mat-nav-list>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="layout-wrapper">
        <div class="app-header">
          <app-ecofarm-header (menuToggle)="openSidenav()"></app-ecofarm-header>
        </div>

        <div class="app-content">
          <router-outlet></router-outlet>
        </div>

        <div class="app-footer">
          <app-ecofarm-footer></app-ecofarm-footer>
        </div>

        <div class="backdrop" *ngIf="isMobileMenuOpened" (click)="closeSidenav()"></div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
