.mat-toolbar-wrap {
  background: #fff;
  content: "";
}

.mat-toolbar {
  margin-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #93c756;
  font-weight: 300;
  width: 100%;
  height: 80px;
  background: #fff;
}

.mat-toolbar a.active-link {
  height: 115px;
  border-bottom: 4px solid black;
}

.logo {
  height: 80px;
}

.mat-toolbar a.active-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  border-radius: 2px;
  margin-top: 4px;
}

mat-icon a.active-link {
  color: black;
  font-size: 40px;
  width: 40px;
  height: 40px;
}

.header-link {
  display: flex;
  flex-direction: column-reverse;
}
