<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar class="toolbar" color="primary">
      <div class="toolbar-elements">
        <nav class="nav-menu hide-on-mobile">
          <div class="row">
            <h1 class="brand-prefix">ФК</h1>
            <img
              src="images/ecofarmLogo.png"
              routerLink="/main-page"
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
              #rlaMain="routerLinkActive"
              alt="Logo"
              class="show-always logo-image"
            />
          </div>

          <a
            *ngFor="let item of navItems"
            mat-button
            [routerLink]="item.path"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: !!item.exact }"
            #rla="routerLinkActive"
            class="header-link"
            >{{ item.label }}
            <mat-icon *ngIf="rla.isActive">arrow_drop_down</mat-icon>
          </a>
        </nav>

        <div class="mobile-header show-on-mobile">
          <div class="mobile-header-logo">
            <h1 class="brand-prefix">ФК</h1>
            <img class="mobile-logo" src="images/ecofarmLogo.png" />
          </div>
          <button
            mat-icon-button
            class="burger-menu"
            (click)="onMenuClick()"
            aria-label="Меню"
          >
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
