.mat-toolbar-wrap {
  background: #fff;
}

.mat-toolbar {
  margin-top: 3rem;
  position: sticky;
  display: flex;
  top: 0;
  z-index: 1000;
  border-bottom: 2px solid #93c756;
  width: 100%;
  background-color: #fff;
  height: 63.5px;
}

.toolbar-elements{
  display: flex;
  justify-content: end;
  width: 100%;
}

.mat-toolbar a.active-link {
  height: 100px;
  border-bottom: 4px solid black;
}

.logo {
  height: 80px;
}

.mat-toolbar a.active-link::after {
  content: "";
  display: block;
  width: 100%;
  //height: 20px;
  border-radius: 2px;
  //margin-top: 4px;
}

mat-icon a.active-link {
  color: black;
  font-size: 40px;
  width: 40px;
  height: 40px;
}

.xxl {
  font-size: 70px;
  font-family: "Montserrat", Arial, sans-serif;
}

.row {
    gap: 10px;
  display: flex;
  flex-direction: row;
}

.header-link {
  display: flex;
  flex-direction: column-reverse;
  word-break: break-all;
}

a {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 300;
}

.nav-menu {
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  width: 100%;
  height: 80px;
}

.show-always {
  display: flex;
}

.hide-on-mobile {
  display: flex;
}
.show-on-mobile {
  display: none;
}

.content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 16px;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .hide-on-mobile {
    display: none !important;
  }
  .show-on-mobile {
    display: flex !important;
  }
  .toolbar {
    display: flex;
    justify-content: space-between !important;
    align-items: end !important;
    height: 20px;
    margin-top: 3rem;
  }
  .mobile-nav {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100vw;
    height: 20px;
    z-index: 100;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  }

  .nav-menu {
    padding-bottom: 0rem;
  }
}

@media (min-width: 1000px) and (max-width: 1400px) {
  .logo {
    display: none;
  }

  .nav-menu {
    height: 60px;
  }

  .mat-toolbar a.active-link {
    height: 76.5px;
  }

  .toolbar {
    height: 40px;
  }
}
