<div class="main-page-wrap">
  <div class="main-page-img hide-on-mobile">
    <img mat-image src="images/2.png" />
  </div>
  <div class="main-page-text">
    <div class="headline">
      <span class="main-text">ФК "Екофарм"</span>
      <span class="accent-text">Історія компанії</span>
    </div>
    <h2 class="first-paragraph">Як усе починалося</h2>
    <p class="single-text-block-green">
      <span class="font-weight-700">ТОВ "ФК "Екофарм"</span> — це сучасне фармацевтичне підприємство, створене з
      метою впровадження інноваційних підходів у галузі виготовлення лікарських
      засобів на основі медичного канабісу.
    </p>
    <h2>Виробничі аптеки нового покоління</h2>
    <p>
      <span class="font-weight-700">Ідея створення "Екофарм"</span> виникла у відповідь на зростаючий попит на
      альтернативні та природні методи лікування, а також після активного
      розвитку законодавчого поля щодо використання канабіноїдів у медицині в
      Україні та світі. Ми об'єднали фахівців з фармації, медицини, технологій
      та права, щоб забезпечити легальне, безпечне та ефективне виробництво
      препаратів на основі канабісу.
    </p>
    <p class="single-text-block-green">
      <span class="font-weight-700">"Екофарм"</span> — одна з перших компаній в Україні, яка розвиває формат аптек із
      <span class="font-weight-700">власним виробництвом</span>, де виготовлення препаратів відбувається в межах
      фармакопейних стандартів, з дотриманням усіх вимог Держлікслужби. Це
      дозволяє нам бути ближчими до пацієнтів, індивідуалізувати рецепти та
       <span class="font-weight-700">надавати продукцію найвищої якості.</span>
    </p>
    <h2>Місія</h2>
    <p>
      <span class="font-weight-700">Наша місія</span> — змінити уявлення про лікування за допомогою препаратів на
      основі канабісу, зробити медичні канабіноїди доступними, зрозумілими та
      законними для кожного, хто цього потребує.
    </p>
    <h2>Подальші кроки</h2>
    <p  class="single-text-block-green">
      Ми активно працюємо над відкриттям мережі виробничих аптек по всій
      Україні, розвитком наукової бази та підвищенням обізнаності серед лікарів
      та пацієнтів про потенціал канабіноїдної терапії.
    </p>
  </div>
</div>
