.main-page-wrap {
  display: flex;
  justify-content: center;
}

.main-page-text {
  display: flex;
  width: 60%;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 5%;
}

@media (max-width: 600px) {
  .main-page-text {
    width: 90% !important;
    padding-left: 0px !important;
  }
}

.main-page-img {
  // border: 3px solid rgb(134, 40, 40);
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-height: 700px;
    overflow: hidden;
  }
}

p {
  font-family: "Montserrat", Arial, sans-serif;
  color: #646363;
  margin: 10px 0px 10px 0px;
  text-align: justify;
}

h2 {
  margin: 20px 0px 0px 0px;
}

.first-paragraph {
  margin-top: 30px;
}
