<div class="main-page-wrap">
  <div class="main-page-img hide-on-mobile">
    <img
      mat-image
      src="images/2.png"
    />
  </div>
  <div class="main-page-text">
    <div class="headline">
      <span class="main-text">Місія та фокус</span>
      <span class="accent-text">КОМПАНІЇ</span>
    </div>
    <p>Ми віримо в силу природи!</p>
    <p>
      Наша компанія спеціалізується на сертифікованих лікарських засобах на
      основі медичної коноплі, що відповідають найвищим стандартам безпеки та
      ефективності. Ми працюємо для того, щоб кожен пацієнт мав доступ до
      сучасної, доказової та натуральної терапії.
    </p>
    <p>
      Науково доведено:<br />
      Препарати на основі медичної коноплі застосовують при:
    </p>
    <ul>
      <li>Хронічному болю</li>
      <li>Тривожних розладах</li>
      <li>Епілепсії</li>
      <li>Порушеннях сну</li>
      <li>Онкологічних захворюваннях</li>
      <li>Розсіяному склерозі</li>
    </ul>
    <p>
      Ми працюємо лише з тими продуктами, чия ефективність підтверджена
      клінічними дослідженнями.<br/>
      Уся продукція відповідає українському та міжнародному законодавству, має
      відповідні сертифікати.
    </p>
  </div>
</div>
