<div class="main-page-wrap">
  <div class="headline">
    <app-page-headline
      [mainText]="'ФК «Екофарм»'"
      [accentText]="'Історія компанії'"
    ></app-page-headline>
  </div>
  <div class="content">
    <div class="about-us-page-img hide-on-mobile">
      <img mat-image src="images/2.png" />
    </div>

    <div class="main-page-text">
      <h2 class="first-paragraph">Як усе починалося</h2>
      <app-info-block variant="green">
        <p>
        <span class="font-weight-700">ТОВ «ФК «Екофарм»</span> — це сучасна
        фармацевтична компанія, яка розвиває напрямок аптечного виготовлення
        лікарських засобів з урахуванням індивідуальних потреб пацієнтів.
        </p>
      </app-info-block>
      <app-info-block variant="white">
        <p>
        Ми створювали компанію з розумінням того, що лікування має бути не лише
        ефективним, а й максимально адаптованим до конкретної людини. Саме тому
        особливу увагу приділяємо розвитку препаратів на основі канабіноїдів у
        медичній практиці.
        </p>
      </app-info-block>
      <h2>Виробничі аптеки нового покоління</h2>
      <app-info-block variant="green">
        <p>
        Ідея ТОВ «ФК «Екофарм» виникла у відповідь на потребу в більш
        персоналізованому підході до лікування та розвитоку сучасних медичних
        напрямків в Україні та світі.
        </p>
      </app-info-block>
      <app-info-block variant="white">
        <p>
        Ми об’єднали фахівців з фармації, медицини та технологій, щоб створити
        середовище, де кожен препарат виготовляється з увагою до якості, безпеки
        та потреб пацієнта.
        </p>
      </app-info-block>
      <app-info-block variant="green">
        <p>
        Наші виробничі аптеки оснащені сучасним лабораторним обладнанням,
        зокрема хроматографами, що дозволяють проводити точний аналіз,
        капсуляторами для індивідуального дозування, а також іншими
        технологічними рішеннями. Це дає змогу забезпечити стабільну якість,
        точність і контроль на кожному етапі виготовлення.
        </p>
      </app-info-block>
      <app-info-block variant="white">
        <p>
        Усі працівники проходять регулярне навчання та працюють відповідно до
        стандартних операційних процедур. У своїй роботі команда враховує
        можливі ризики на кожному етапі, щоб забезпечити стабільну якість і
        безпеку лікарських засобів.
        </p>
      </app-info-block>
      <app-info-block variant="green">
        <p>
        Ми працюємо відповідно до фармацевтичних вимог та стандартів, що
        дозволяє гарантувати безпечність і надійність кожного препарату.
        </p>
      </app-info-block>
        <h2>Місія</h2>
      <app-info-block variant="white">
        <p>
          Наша місія — розвивати в Україні сучасні підходи до лікування, зокрема
          із застосуванням канабіноїдів, та робити їх більш доступними,
          зрозумілими і безпечними для пацієнтів.
        </p>
      </app-info-block>
      <app-info-block variant="green">
        <p>
          Ми прагнемо, щоб кожен пацієнт мав можливість отримати індивідуально
          виготовлений лікарський засіб за призначенням лікаря — із впевненістю
          у його якості та ефективності.
        </p>
      </app-info-block>
      <h2>Подальший розвиток</h2>
      <app-info-block variant="green">
        <p>
        Ми активно працюємо над розширенням мережі виробничих аптек та
        поширенням знань про сучасні можливості лікування серед лікарів і
        пацієнтів.
        </p>
      </app-info-block>
    </div>
  </div>
</div>
