<div class="main-page-wrap">
  <div class="main-page-text">
    <div class="headline">
      <span class="main-text">Медичний</span>
      <span class="accent-text">КАНАБІС</span>
    </div>
    <p>
      Медична марихуана - це термін для похідних рослин Cannabis sativa, які
      використовуються для полегшення симптомів викликаних певними
      захворюваннями.
    </p>
    <p>
      Марихуана містить в собі понад 200 активних компонентів, основні два :
      тетрагідроканабіол та канабідіол.
    </p>
    <p>ЯК ДОПОМПГПЄ КАНАБІС?</p>
    <ul>
      <li>зменшує тривогу;</li>
      <li>зменшує запалення та знімає біль;</li>
      <li>контролює нудоту та блювоту, викликані хіміотерапією;</li>
      <li>вбиває ракові клітини та сповільнює ріст пухлин;</li>
      <li>стимулює апетит;</li>
      <li>має протисудомний та релаксуючий ефект;</li>
      <li>долає стрес;</li>
      <li>покращує якість сну.</li>
    </ul>

    <p>
      *Закон від 16.02.2024 “Про внесення змін додеяких законів України щодо
      державного регулювання обігу рослин роду коноплі (Cannabis) № 3528-IX.
    </p>
    <p>
      *Закон передбачає, що всі засоби на основі канабісу будуть маркуватися
      унікальним електронним ідентифікатором.
    </p>
    <button mat-button>Детальніше</button>
  </div>
  <div class="main-page-img">
    <img
      mat-image
      src="images/1.png"
    />
  </div>
</div>
