<div class="main-page-wrap">
  <div class="main-page-text">
    <div class="headline">
      <span class="main-text">Медичний</span>
      <span class="accent-text">КАНАБІС</span>
    </div>
    <p class="single-text-block-green">
      <span class="font-weight-700">Медичний канабіс</span> — це лікарський засіб або сировина, виготовлена з рослини
      Cannabis sativa або Cannabis indica, який використовується з лікувальною
      метою під наглядом лікаря. Його призначають для полегшення симптомів при
      певних захворюваннях, коли інші методи терапії є неефективними або
      викликають серйозні побічні ефекти. захворюваннями.
    </p>
    <p class="font-weight-700">Основними діючими речовинами є:</p>
    <ul>
      <li>
        ТГК (тетрагідроканабінол) — психоактивна сполука, що впливає на мозок і
        нервову систему;
      </li>
      <li>
        КБД (канабідіол) — не викликає сп’яніння, має протизапальні,
        знеболювальні та протитривожні властивості.
      </li>
    </ul>
    <div class="single-text-block-green">
      <p class="font-weight-700">
        Медичний канабіс застосовується як допоміжна терапія при ряді
        захворювань:
      </p>
      <ul>
        <li>Хронічний біль (онкологія, ревматизм, невропатія);</li>
        <li>
          Епілепсія, зокрема у дітей (форми, що не піддаються традиційному
          лікуванню);
        </li>
        <li>Множинний склероз (для зменшення спазмів м’язів);</li>
        <li>Онкологія (для полегшення нудоти після хіміотерапії);</li>
        <li>Тривожні розлади, ПТСР (посттравматичний стресовий розлад);</li>
        <li>
          Хвороба Паркінсона, Альцгеймера (на ранніх стадіях — як
          експериментальна терапія)
        </li>
      </ul>
    </div>
    <p>
      Правовий статус в Україні Станом на 2024–2025 роки, в Україні прийнято
      законодавство, яке дозволяє контрольоване використання медичного канабісу.
      <span class="font-weight-700">Для доступу до лікування пацієнт повинен: </span>
    </p>
    <ul>
      <li>Мати підтверджений діагноз, що входить до переліку показань;</li>
      <li>Отримати призначення від лікаря;</li>
      <li>Придбати препарат у ліцензованій аптеці;</li>
    </ul>
    <button [routerLink]="'/about-us'" class="btn-primary">Детальніше</button>
  </div>
  <div class="main-page-img hide-on-mobile">
    <img mat-image src="images/1.png" />
  </div>
</div>
