<div class="product-page-wrap">
  <div class="description">
    <p>
      ТОВ "ФК "Екофарм" пропонує лікарські засоби на основі медичного канабісу,
      а також інші препарати, виготовлені за індивідуальними рецептами згідно з
      потребами пацієнтів.
    </p>
  </div>
  <div class="content">
    <h3>Наші препарати</h3>
    <ul>
      <li>
        Виготовляються у виробничих аптеках згідно з чинними стандартами якості
      </li>
      <li>
        Створюються з використанням сертифікованих компонентів із підтвердженим
        походженням
      </li>
      <li>
        Дозування підбирається відповідно до рекомендацій медичного фахівця
      </li>
    </ul>
  </div>

  <div class="summary">
    <p>
      Ми прагнемо забезпечити пацієнтів персоналізованими та зручними рішеннями,
      що відповідають сучасним вимогам до фармацевтичної терапії лікаря
    </p>
  </div>
</div>
